extends layout

block content
  h1 Cities
  table
    thead
      tr
        th ID
        th Name
        th Country Code
        th District
        th Population
    tbody
      each city in cities
        tr
          td= city.ID
          td= city.Name
          td= city.CountryCode
          td= city.District
          td= city.Population
