extends layout

block content
  h1 Country Languages
  table
    thead
      tr
        th Code
        th Name
        th Language
        th Official
        th Percentage
    tbody
      each language in languages
        tr
          td= language.Code
          td= language.Name
          td= language.Language
          td= language.IsOfficial
          td= language.Percentage
